tr.hide           { display:none; }
tr.parent         { border: 1px solid #f8f8f8; }
tr.child          { border: 1px solid #f8f8f8; }
tr.parent td.name { white-space: nowrap;  width: 300px; }
tr.child td.name  { white-space: nowrap;  width: 300px; }
tr.leaf td.name a { margin-left: 16px; }

tr.parent span.expander { 
  background-image: url(../images/bullet_toggle_plus.png); 
  padding-left:     8px; 
  margin-left:      0; 
  cursor:           pointer; 
}
tr.parent.open span.expander { 
  background-image: url(../images/bullet_toggle_minus.png); 
  cursor:           pointer; 
}
span.empty { 
  text-align:right; 
  width: 100%; 
  cursor: pointer; 
}
a.expand {
  padding-left:      20px;
  background-image:  url(../images/bullet_toggle_minus.png); 
  background-repeat: no-repeat;
  cursor:            pointer; 
}
a.collapse {
  padding-left:      20px;
  background-image:  url(../images/bullet_toggle_minus.png); 
  background-repeat: no-repeat;
  cursor:            pointer; 
}